VITE_FIREBASE_API_KEY=AIzaSyCKP9u9ZmBy9KY6lAJwjVXB7PRTyk1_a4c
VITE_FIREBASE_AUTH_DOMAIN=kidszone-23be3.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=kidszone-23be3
VITE_FIREBASE_DATABASE_URL=https://kidszone-23be3-default-rtdb.firebaseio.com
VITE_FIREBASE_STORAGE_BUCKET=kidszone-23be3.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=497570428909
VITE_FIREBASE_APP_ID=1:497570428909:web:e7d3a8e8f57a9a7f86d9e4
VITE_FIREBASE_MEASUREMENT_ID=G-X9KG5PTCJ9